<div>
  <mat-toolbar>
    <div class="toolbar-left">
      <span>
        <img class="logo-nina" src="" alt="Logo MCMR" />
      </span>
    </div>
    <div class="toolbar-center">
      <span class="toolbar-item"><a href="#QUEM">Quem Somos</a></span>
      <span class="toolbar-item"><a href="#RANK">Ranking</a></span>
      <span class="toolbar-item"><a href="#COL">Colabore</a></span>
      <span class="toolbar-item"><a href="#PUBLI">Publicidade</a></span>
      <span class="toolbar-item"><a href="#CONT">Contato</a></span>
      <span class="toolbar-item"><a href="">Bot</a></span>
    </div>
    <div class="toolbar-right"></div>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
