<div class="container">
  <div class="slider-container">
    <div>
      <ng-image-slider
        [images]="imageObject"
        [infinite]="false"
        [autoSlide]="1"
        [imageSize]="{ width: '80%', height: 400 }"
        slideImage="1"
        #nav
      ></ng-image-slider>
    </div>
  </div>
</div>

<div class="section-we" id="QUEM">
  <div>
    <span>
      <h1 class="section-subtitle">Porque, representatividade importa</h1>
    </span>
  </div>
  <span>
    <h1 class="section-title">QUEM SOMOS</h1>
  </span>

  <div class="img-txt-container">
    <div class="img-container"><img src="assets/image_7.jpg" alt="" /></div>
    <div class="txt-container">
      É um espaço seguro e colaborativo onde mulheres negras podem compartilhar
      sua percepção sobre representatividade e diversidade em peças
      publicitárias que são vinculadas, especialmente, nas redes sociais e TV.
      Com o objetivo de propor mudanças e melhorar a representação de mulheres
      negras na comunicação. Nossa plataforma tem como propósito apresentar
      peças onde a diversidade da raça negra é celebrada, apresentando mulheres
      com cabelo crespo tipo 4 e pele mais retinta. Além disso, a plataforma
      realiza um rankeamento de empresas onde a diversidade é melhor trabalhada,
      para servir de exemplo a outras companhias que desejam desenvolver uma
      comunicação mais assertiva.
    </div>
  </div>
</div>

<div class="section-publi" id="PUBLI">
  <div>
    <span>
      <h1 class="section-title">PARCEIROS</h1>
    </span>
    <div>
      <span>
        <h3 class="section-subtitle">
          As campanhas mais amadas por nossa comunidade
        </h3>
      </span>
    </div>

    <div class="publi-container">
      <div class="publi">
        <div class="publi-name">Empresa X</div>
        <div class="publi-image"><img src="assets/image_6.jpg" alt="" /></div>
      </div>
      <div class="publi">
        <div class="publi-name">Empresa Y</div>
        <div class="publi-image"><img src="assets/image_2.jpg" alt="" /></div>
      </div>
    </div>
  </div>
  <div>
    <div class="publi-container-2">
      <div class="publi">
        <div class="publi-name">Empresa W</div>
        <div class="publi-image"><img src="assets/image_3.jpg" alt="" /></div>
      </div>
      <div class="publi">
        <div class="publi-name">Empresa Z</div>
        <div class="publi-image"><img src="assets/image_4.jpg" alt="" /></div>
      </div>
    </div>
  </div>
</div>

<div class="section-ranking" id="RANK">
  <div>
    <span>
      <h1 class="section-title">RANKING</h1>
    </span>
  </div>
  <div class="ranking-container">
    <div class="rank-1">
      <div class="ranking-item">
        1.
        <span>Natura</span>
        <span> - 15.439</span>
      </div>
      <div class="ranking-item">
        2.
        <span>Avon</span>
        <span> - 15.439</span>
      </div>
      <div class="ranking-item">
        3.
        <span>boticário</span>
        <span> - 15.439</span>
      </div>
    </div>
    <div class="rank-2">
      <div class="ranking-item">
        4.
        <span>to de cacho</span>
        <span> - 15.439</span>
      </div>
      <div class="ranking-item">
        5.
        <span>soul power</span>
        <span> - 15.439</span>
      </div>
      <div class="ranking-item">
        6.
        <span>skala</span>
        <span> - 15.439</span>
      </div>
    </div>
  </div>
</div>

<div class="section-col">
  <div>
    <span>
      <h1 class="section-title" id="COL">COLABORE</h1>
    </span>
  </div>

  <div class="rev-cont">
    <div class="review">
      <span
        ><p class="rev-txt">
          Ainda estou no chão com essa campanha da Avon com o Lucas Penteado!!!!
          #amei
        </p></span
      >
      <p class="reviewer">Lilian - Recife - PE</p>
    </div>
    <div class="review">
      <span
        ><p class="rev-txt">
          A Natura sempre entregando propagandas com narrativas diversas e muita
          representatividade. Parabéns!!!
        </p></span
      >
      <p class="reviewer">Natalia - São Paulo SP</p>
    </div>
    <div class="review">
      <span
        ><p class="rev-txt">
          É saudade do bloquinho que chama, né, fia. Essa campanha da Natura me
          deixou nostálgica.
        </p></span
      >
      <p class="reviewer">Andressa - Piedade - SP</p>
    </div>
  </div>
</div>

<div class="section-contact" id="CONT">
  <div>
    <span>
      <h1 class="section-title">CONTATO</h1>
    </span>
  </div>
  <div class="img-txt-container">
    <div class="img-container"><img src="assets/image_11.jpg" alt="" /></div>
    <div class="txt-container">
      <div>
        <span><h3 class="end-title">ENDEREÇO</h3></span>
        <p>Rua Alfândega, 35 - Recife - PE</p>
      </div>
      <div>
        <span><h3 class="end-title">E-MAIL</h3></span>
        <p>duvidas@meucrespominhasregras.com.br</p>
      </div>
      <div>
        <span><h3 class="end-title">TELEFONE</h3></span>
        <p>(00) 0000-0000</p>
      </div>
      <div>
        <span>@meucrespominhasregras</span>
      </div>
    </div>
  </div>
</div>
